style
  body {
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
  }

  .instagram-post {
    background-color: white;
    border: 1px solid #dbdbdb;
    max-width: 470px;
    width: 100%;
    border-radius: 8px;
    justify-content:flex-start;
  }

  .post-header {
    display: flex;   
    align-items: center;    
    gap: 2px;
    padding: 10px;
}

.fa-ellipsis-vertical {
  margin-left: auto;
  padding-right: 10px;
}

.header-text {
    display: flex;
    flex-direction: column;
     margin-left: 10px;      
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  
  }

.subtitle {
  margin: 0;
    font-size: 10px;
  
}

.logo{
  width: 40px;
  height: auto;
}

  .post-image img {
    width: 100%; 
    display: block;
  }

 .post-buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

.left-icons {
    display: flex;
    gap: 15px; 
}

 i {
    font-size: 24px;
    cursor: pointer;
}

  .comments-link {
    color: #8e8e8e;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
  }

   